
@import '../common/_base-style';
body{
    background-color: $baseColor;
}

.content-main{
   
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 10px 0px;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: $whiteColor;
    select{
       direction: rtl;
       width: 24rem;
       padding: 5px 10px;
       margin: 10px 17px 0 0;
    }
    .stage-main{
background-color: $whiteColor;
width: 100%;
display: flex;
justify-content: space-between;
border-top: 1px solid #555;
min-height: 232px;
overflow-x: auto;
margin-top: 10px;
padding: 70px 14px;
.child-p{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-width: 100%;
    direction: rtl;
    :nth-child(1){
        margin: 0;
    }
    .card {
        display: inline-block;
        text-align: center;
        width: 163px;
        .card-parent-circle{
            width: 80px;
            height:80px;
          background-color: $whiteColor;
          border: 5px solid $colorGreen;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: 0 auto;

          .arrow-down {
            width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $colorGreen;
    position: absolute;
    bottom: -13px;
          }
          .cicle-down{
              width: 10px;
              height: 10px;
              background-color: $whiteColor;
              border: 5px solid $colorGreen;
              border-radius: 50px;
              position: absolute;
              bottom: -47px;
          }
          
        }
        .card-circle{
            width: 73px;
            height:73px;
            border-radius: 50px;
            margin: 0 auto;
background-color: $colorGreen; 

}
.card-step{
    width: 100%;
    height: 2px;
    background-color: black;
    border: 1px solid #555;
    margin-top: 30px;
    &:first-child{
        width: 50px!important;
    position: relative!important;
    right: 66px!important;
    }
}
      }
}
    }
}